<form action="/go" method="get">
    <input type="text" name="age" placeholder="What is your age?">
    <input type="text" name="ward" placeholder="Have you been addmited to a regular ward (Put 1 for yes, 0 for no)">
    <input type="text" name="semi" placeholder="Have you been addmited to an semi-intensive care unit (Put 1 for yes, 0 for no)">
    <input type="text" name="intensive" placeholder="Have you been addmited to an intensive care unit (Put 1 for yes, 0 for no)">
    <div style="text-align: center; padding-top: 25px;"></div>
        <button type="submit" class="btn btn-lg btn-success">Predict COVID</button>
    </div>
</form>
 
