<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <h1>Flask + Leaflet</h1>
    <div id="llmap"></div>
    <div>
        <select id="distsel">
          {% for district in districts %}
          <option value="{{district.id}}">{{district.name}}</option>
          {% endfor %}
        </select>
    </div>
    <script src="{{url_for('static', filename='demo.js')}}"></script>
</body>